body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
div{
    height: 200px;
    width: 200px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5px;
    font-size: 24px;
    border-radius: 23px;
}